* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.divider-line {
  background-color: #222;
  margin: 40px 0;
  height: 1px;
  width: 100%;
}

/* Text styles */

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 5rem;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  color: #222;
  margin-bottom: 20px;
}

h3 {
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  color: #222;
  margin-bottom: 10px;
}

h4 {
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 5px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #222;
  line-height: 1.6rem;
}

p.intro-text {
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  max-width: 60%;
  margin: 60px auto 0;
}

/* Image blocks */

.image-blocks {
  display: flex;
}

.image-block {
  position: relative;
  flex-basis: 28%;
  margin: 0 20px 0 20px;
}

.image-block img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  color: #fff;
}

.overlay:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

.block-summary {
  background-color: #eaf4f4;
  padding: 30px 30px;
}

.image-blocks-landscape {
  display: flex;
  width: 60%;
}

.image-block-landscape {
  margin: 60px 0 0 20px;
  display: flex;
  flex-basis: 60%;
  background-color: #eaf4f4;
  position: relative;
}

.image-block-landscape img {
  width: 400px;
  display: block;
}

/* Form elements */

.form-container {
  background-color: #eaf4f4;
  overflow: hidden;
  width: 450px;
  border-radius: 4px;
}

.form-header {
  background-color: #6b9080;
  padding: 20px 40px;
}

.form-header h3 {
  color: #fff;
}

form {
  padding: 15px 40px;
}

.field {
  position: relative;
}

.field label {
  display: inline-block;
  font-family: "Heebo", sans-serif;
  font-size: 1.25rem;
  margin-top: 20px;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}

.field input:focus {
  outline: 0;
  border-color: #777;
}

/* Buttons */

.green-button {
  background-color: #2d6a4f;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  transition: 0.25s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.green-button:hover {
  background-color: #1b4332;
  cursor: pointer;
}

.green-button:focus {
  outline: 0;
}

.red-button {
  background-color: #c71f37;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 10px 12px;
  transition: 0.25s ease;
}

.red-button:hover {
  background-color: #da1e37;
  cursor: pointer;
}

.red-button:focus {
  outline: 0;
}

/* Links */

a {
  color: #2d6a4f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Colour palette */

.colour-boxes {
  display: flex;
  justify-content: space-around;
}

.colour-box-1 {
  width: 150px;
  height: 150px;
  background-color: #222;
}

.colour-box-2 {
  width: 150px;
  height: 150px;
  background-color: #6b9080;
}
.colour-box-3 {
  width: 150px;
  height: 150px;
  background-color: #f6fff8;
}
.colour-box-4 {
  width: 150px;
  height: 150px;
  background-color: #eaf4f4;
}
